body {
	color: blue;

}
#top {
	padding-top: 80px;
	border: 10px solid white;
	background-color: #FFDCF5;
	font-family: 'Nosifer', cursive;
	font-size: 48pt;
	color: white;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color:#FFDCF5;
  letter-spacing: 3pt
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.top {
	font-size: 25pt;
	letter-spacing: 5pt
}
.hearts {
	position: absolute;
	color: white;
	font-size: 20pt;
	padding: 10pt;
}
.hearts2 {
	position: absolute;
	color: white;
	font-size: 20pt;
}

.name {
	position: fixed;
	color: #FFDCF5;
	bottom: 0pt;
	left: 0pt;
	font-family: 'Montserrat', sans-serif;
}