* {
	margin: 0px;
	padding: 0px;
}

body { 
	min-height: 100vh;
	min-width: 100vw;
}

#items {
	width: 800px;
	margin: auto;
	padding: 40px;
}

.item {
	height: 400px;
	display: none;
	padding: 0px 0;
	text-align: center;
}

.show {
	display: block;
}

.hello {
	text-align: center;
	font-size: 50px;
	font-family: 'Montserrat', sans-serif;
}

